name: Integration-Test
permissions:
  contents: read
  pull-requests: write
  statuses: write
  actions: read

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  integration-test:
    name: Integration-Test
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Self test
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: selftest
        # Put your action repo here
        uses: ./
        with:
          ci_api_key_id: ${{ secrets.PSONO_API_KEY_ID }}
          ci_api_secret_key_hex: ${{ secrets.PSONO_API_SECRET_KEY_HEX }}
          ci_server_url: ${{ vars.PSONO_SERVER_URL }}
          secret_id: ${{ secrets.PSONO_GITHUB_REGISTRY_ID }}
          secret_type: "env"
          secret_fields: CI_REGISTRY,CI_REGISTRY_USER
          mask_secrets: CI_REGISTRY_USER

      - name: Check outputs and write summary
        id: check_outputs
        if: always()
        run: |
          .github/scripts/check_outputs.sh \
            "${{ steps.selftest.outputs.secret1 }}" \
            "${{ steps.selftest.outputs.secret2 }}"

      - name: Fail if check failed
        if: steps.check_outputs.outputs.status == 'fail'
        run: |
          echo "Output check failed!"
          exit 1
      - name: Success if check successful
        if: steps.check_outputs.outputs.status == 'success'
        run: |
          echo "Output check successful!"
          exit 0
