name: Release Info
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types:
      [
        labeled,
        unlabeled,
        opened,
        edited,
        reopened,
        synchronize,
        ready_for_review,
      ]
    branches:
      - develop

jobs:
  generate-pr-description:
    name: Generate the description on the pull request
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate PR Description from Conventional Commits
        id: pr-description
        run: |
          .github/scripts/pr_description.sh \
            "${{ github.event.pull_request.base.ref }}" \
            "${{ github.event.pull_request.head.sha }}"

      - name: Update pull request body
        uses: riskledger/update-pr-description@v2
        with:
          body: |
            # Task

            ${{ github.event.pull_request.title }}

            # Description

            <!--- START AUTOGENERATED NOTES --->
            ${{ steps.pr-description.outputs.changelog }}
            <!--- END AUTOGENERATED NOTES --->

            # Demo

            # Checklist

            - [ ] I have performed a self-review of my own code
            - [ ] I have added tests to cover my changes
          token: ${{ secrets.GITHUB_TOKEN }}
