name: Lint
permissions:
  contents: write
  pull-requests: write

on: [push]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.13
        uses: actions/setup-python@v5.6.0
        with:
          python-version: "3.13"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Lint
        run: |
          pip install flake8
          flake8 main.py

      - name: Automatic requirements.txt for Python Project
        uses: jfheinrich-eu/pipreqs-action@v4.4.0
        with:
          PROJECT_PATH: .
          REQUIREMENT_PATH: requirements.txt
          RECURSIVE: "false"

      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: changes
        # Outputs: src (bool) - true if requirements.txt changed
        with:
          filters: |
            src:
              - 'requirements.txt'

      - name: Create Pull Request for requirements.txt
        if: steps.changes.outputs.src == 'true'
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: "Updated requirements file on ${{ github.ref_name }} [skip-ci]"
          branch: update-requirements-${{ github.ref_name }}
          title: "Update requirements.txt on ${{ github.ref_name }}"
          body: "Automated update of requirements.txt by workflow."
          base: ${{ github.event.repository.default_branch }}
          add-paths: requirements.txt
